body {
  background-color: #800000;
  margin: 0px;
}
h1 {
  font-weight: bolder;
  font-size: 70px;
  color: red;
  text-shadow: 3px 2px 1px black;
  margin: 10px;
}
div.center {
  background-color: #FFF0F5;
  height: 650px; 
  width: 620px;
  padding: 15px;
  border: 5px solid greenyellow;
  margin: auto;
}
img {
  width: 50%;
  height: 50%;
  display: block;
  margin: auto;
}
p , ul {
  font-size: larger
}